* {
  /* background-color: aqua; */
  font-family: "Lucida Handwriting", "Brush Script MT", "cursive";
}

#img-title {
  display: inline;
  margin-left: 20%;
  text-align: center;
}

.choicebtn {
  margin-left: 15%;
  margin-top: 10%;
}
#startbtn{
  width: 150px;
}

/* #primarybtn {
  margin-left: 0%;
  margin-top: 0%;
} */
.choicebtn{
  margin: 1% 1% 1% 1%
}
.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 2%;
}
#nextbtn {
  margin-top: 3%;
  text-align: right;
}

.buybtn {
  text-align: right;
}
@media (max-width: 800px) {
  #img-title {
    display: block;
    margin-left: 0;
  }

  #primarybtn {
    margin: 4% auto 4% auto;
  }

  .choicebtn {
    display: block !important;
    margin: 4% auto 4% auto;
  }
  #nextbtn {
    text-align: center;
  }
  .buybtn {
    text-align: center;
  }
}

.chan-box {
  background-color: chartreuse;
  /* height: 100%; */
  width: 50%;
  padding: 2%;
  text-align: justify;
  z-index: 5;
  border: 1px solid black;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  box-shadow: 0 0 10px;
}

#chanakya img {
  border-top-right-radius: 2rem;
  border: 1px solid black;
  box-shadow: 0 0 10px;
  border-bottom-right-radius: 2rem;
}

.close-icon {
  text-align: right;
  margin-bottom: 2%;
}

#float-btn {
  right: 10%;
  position: fixed;
  bottom: 10%;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: rgb(74, 74, 255);
  overflow: hidden;
}
#float-btn img {
  display: inline-block;
  margin: 0 auto;
  height: 100%;
  width: auto;
  border-radius: 50%;
}

.bochak {
  position: fixed;
  top: 20%;
  display: flex;
  left: 20%;
  height: max-content;
}

#chanakya {
  height: max-content;
}

@media (max-width: 750px) {
  #chanakya {
    display: block;
  }

  .bochak img {
    width: 150px;
    height: max-content;
  }
}

@media (max-width: 576px) {
  .bochak {
    left: 2%;
    right: 2%;
  }
}

.slidecontainer {
  width: 100%;
  padding-right: 2%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #6fdb6f;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

.stats-badge {
  background-color: #7fff00;
  height: 20px;
  width: 100px;
  margin: 3% 1% 1% 0;
}

.manager h4 {
  display: inline;
}

#managerof {
  margin-left: 2%;
}

@media (max-width: 576px) {
  .manager h4 {
    display: block;
  }

  #managerof {
    margin-left: 0;
  }
}

.myProgress {
  margin-top: 10px;
  margin-right: 5px;
  border-radius: 0.5rem;
  width: 100%;
  background-color: #ddd;
}

.probar {
  border-radius: 0.5rem;
  width: 0%;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.3);
}

.sm-nav {
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 1.5% 0;
  position: sticky;
  top: 0;
  z-index: 8;
}

#idleclick {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.curved {
  /* height: 100vh; */
  background-color: #0099ff;
  text-align: center;
  color: #fff;
  /* margin-bottom: 2%; */
}

.curved h1 {
  margin-top: 2%;
  padding-top: 2%;
  margin-bottom: 3%;
  font-weight: bold;
}

.curved h3 {
  margin: 2% 0;
}

.curved p {
  font-size: x-large;
  margin: 3% 0;
}
.background {
  background: linear-gradient(132deg, #fc415a, #591bc5, #212335);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  position: relative;
  /* height: 100vh; */
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0px;
}
.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #d7d4e4;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;
}
.cube:nth-child(2n) {
  border-color: #fff;
}
.cube:nth-child(2) {
  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}
.cube:nth-child(3) {
  animation-delay: 4s;
  left: 75vw;
  top: 50vh;
}
.cube:nth-child(4) {
  animation-delay: 6s;
  left: 90vw;
  top: 10vh;
}
.cube:nth-child(5) {
  animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}
.cube:nth-child(6) {
  animation-delay: 10s;
  left: 50vw;
  top: 10vh;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

.bg {
  animation: slide 8s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 9s;
}

.bg3 {
  animation-duration: 10s;
}

.content {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  /* left:50%; */
  padding: 10vmin;
  /* position:fixed; */
  text-align: center;
  /* top:50%; */
  /* transform:translate(-50%, -50%); */
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

.card:hover {
  transform: scale(1.05);
}

.playbtnhome {
  /* position: absolute; */
}

.right {
  background: #365c66;
  color: white;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 10%;
  border-radius: 1rem;
  padding: 2rem;
  /* padding-top: 0; */
}
.input {
  display: block;
  margin: 10px auto;
  width: 90%;
  height: 40px;
  border: 1px solid black;
  border-radius: 0.25rem;
  font-size: medium;
  padding-left: 1rem;
}
.right textarea {
  display: block;
  margin: 10px auto;
  width: 90%;
  height: 75px;
  border: 1px solid black;
  border-radius: 0.25rem;
  font-size: medium;
  padding-left: 1rem;
}

.button {
  background: #70ad46;
  color: white;
  text-transform: capitalize;
  padding: 0.5rem;
  border-radius: 0.25rem;
  width: 50%;
  border: none;
  cursor: pointer;
  display: block;
  margin: 0.5rem auto;
}
.contactus {
  margin: auto;
  width: 60%;
}

@media (max-width: 700px) {
  .button {
    font-size: 10px;
    width: 30%;
  }
  .contactus {
    width: 80%;
  }
}

@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}
.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}
.bgTop {
  z-index: 15;
  opacity: 0.8;
}
.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}
.bgBottom {
  z-index: 5;
}
.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
  background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
  -webkit-animation: move-wave 3s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  background-image: url("http://front-end-noobs.com/jecko/img/wave-top.png");
}
.waveMiddle {
  background-image: url("http://front-end-noobs.com/jecko/img/wave-mid.png");
  background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}
.waveBottom {
  background-image: url("http://front-end-noobs.com/jecko/img/wave-bot.png");
  background-size: 50% 100px;
}
.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
}

#abtcontent {
  z-index: 20;
}

.area{
  background: #4e54c8;  
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
  width: 100%;
  height:100vh;
  bottom: 0;
  /*opacity: 0.5;*/
  position: fixed;
  top: 0;
  z-index: -1;
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}