/* *{
    background-color: aqua;
} */

#img-title {
  display: inline;
  margin-left: 20%;
  text-align: center;
}

.choicebtn {
  margin-left: 15%;
  margin-top: 10%;
}

#primarybtn {
  margin-left: 0%;
}
.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 2%;
}
#nextbtn{
    text-align: right;
}

.buybtn{
  text-align: right;
}
@media (max-width: 800px) {
  #img-title {
    display: block;
    margin-left: 0;
  }

  #primarybtn {
    margin: 4% auto 4% auto;
  }

  .choicebtn {
    display: block !important;
    margin: 4% auto 4% auto;
  }
  #nextbtn{
      text-align: center;
  }
  .buybtn{
    text-align: center;
  }
}

.chan-box{
  background-color: chartreuse;
  /* height: 100%; */
  width: 50%;
  padding: 2%;
  text-align: justify;
  z-index: 5;
  border: 1px solid black;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  box-shadow: 0 0 10px;
}

#chanakya img{
  border-top-right-radius: 2rem;
  border: 1px solid black;
  box-shadow: 0 0 10px;
  border-bottom-right-radius: 2rem;
}

.close-icon{
  text-align: right;
  margin-bottom: 2%;
}

#float-btn{
  right: 10%;
  position: fixed;
  bottom: 10%;
  height: 60px;
  width: 60px;
  border-radius: 50%; 
  background-color: blue;
}

.bochak{
  position: fixed;
  top: 20%;
  display: flex;
  left: 20%;
  height: max-content;
}

#chanakya{
  height: max-content;
}

@media(max-width:750px){
  #chanakya{
    display: block;
  }

  .bochak img{
    width: 150px;
    height: max-content;
  }
}

@media(max-width:576px){
  .bochak{
    left: 2%;
    right: 2%;
  }
}